aiohttp==3.6.2
apipkg==1.5
async-timeout==3.0.1
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
execnet==1.7.1
idna==2.10
more-itertools==8.4.0
multidict==4.7.6
numpy==1.19.0
packaging==20.4
pkg-resources==0.0.0
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==5.4.3
pytest-forked==1.2.0
pytest-xdist==1.32.0
requests==2.24.0
selenium==3.141.0
six==1.15.0
urllib3==1.26.5
wcwidth==0.2.5
yarl==1.4.2
